rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /businesses/{businessId} {
      allow read, write: if isAuthenticated();
    }

    match /profiles/{userId} {
      allow read, write: if isAuthenticated();
    }

    match /memberships/{membershipId} {
      allow read, write: if isAuthenticated();
    }

    match /services/{serviceId} {
      allow read, write: if isAuthenticated();
    }

    match /employees/{employeeId} {
      allow read, write: if isAuthenticated();
    }

    match /appointments/{appointmentId} {
      allow read, write: if isAuthenticated();
    }
  }
}
